<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807249892823-ku5m6esbesn7is4n8bv95t9bo6dee6ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807249892823-ku5m6esbesn7is4n8bv95t9bo6dee6ve</string>
	<key>API_KEY</key>
	<string>AIzaSyDdOTpdkUHuiy-zsNW5EC02DaSAbBuYj3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>807249892823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footnet</string>
	<key>PROJECT_ID</key>
	<string>footnet-530f3</string>
	<key>STORAGE_BUCKET</key>
	<string>footnet-530f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807249892823:ios:66c35cddd81cc5eaaa2792</string>
</dict>
</plist>